@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "A demo function that outputs a hello message."; }
    }

    [FunctionParameter(Label = "Detail Page")]
    public DataReference<IPage> DetailPage { get; set; }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    @{
        var services = Data.Get<Rain.Services>().OrderBy(a=>a.Order).Take(3).ToList();
    }
    <div class="row-fluid">



        @{ 
            foreach (var item in services)
            {
                
                string url = Html.C1().PageUrl(DetailPage.Data).ToString() + "/" + My.Utils.convertToUrl(item.Title);
            <div class="span4">
                <div class="catalog">
                    <div class="news-title">
                        <a href="@url">@item.Title</a>
                    </div>
                    <div class="caption news-caption">
                        <p>
                            @item.Desc
                        </p>
                        <p class="pull-right">
                            <a class="read-more" href="@url">Read more</a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            }
        }


        @* <div class="span4">
            <div class="catalog">
                <div class="news-title">
                    <a href="service-detail.html">Dapibus ac facilisis in</a>
                </div>
                <div class="caption news-caption">
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                        porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                    <p class="pull-right">
                        <a class="read-more" href="service-detail.html">Read more</a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="catalog">
                <div class="news-title">
                    <a href="service-detail.html">Dapibus ac facilisis in</a>
                </div>
                <div class="caption news-caption">
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                        porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                    <p class="pull-right">
                        <a class="read-more" href="service-detail.html">Read more</a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>*@

    </div>
</body>
</html>
