@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("fb6ddceb-627d-4c57-b349-1a05f2e96f32");
        TemplateTitle = "[itme]home";
        Layout = "ItmeMaster.cshtml";
    }

    [Placeholder(Id = "Top", Title = "Top")]
    public XhtmlDocument Top { get; set; }
    [Placeholder(Id = "Top2", Title = "Top2")]
    public XhtmlDocument Top2 { get; set; }

    [Placeholder(Id = "Left", Title = "Left", IsDefault = true)]
    public XhtmlDocument Left { get; set; }

    [Placeholder(Id = "Right", Title = "Right")]
    public XhtmlDocument Right { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*you can add template specific head elements here*@
</head>
<body>
    <div class="row-fluid">

        @Markup(Top)

    </div>
    <div class="row-fluid">
        <div class="container960">
            @Markup(Top2)
        </div>
    </div>
    <div class="row-fluid">
        <div class="container960">
            <div class="span8">
                @Markup(Left)
            </div>
            <div class="span4">
                @Markup(Right)

                <div>

                    <div class="heading1">Tin tức &amp; sự kiện</div>
                    <f:function name="My.Content.NewsTop" xmlns:f="http://www.composite.net/ns/function/1.0">
			<f:param name="NewsDetailPage" value="cb842acc-32ac-427f-a4c0-ae204b20a8b7" />
		</f:function>

                </div>
                <div>
                    <f:function name="Composite.Community.Facebook.LikeBox" xmlns:f="http://www.composite.net/ns/function/1.0">
					<f:param name="URL" value="https://www.facebook.com/itsthehappypage" />
				</f:function>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
