@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("fb6ddceb-627d-4c57-b349-1a05f2e96f32");
        TemplateTitle = "[itme]home";
        Layout = "ItmeMaster.cshtml";
    }

    [Placeholder(Id = "Top", Title = "Top")]
    public XhtmlDocument Top { get; set; }

    [Placeholder(Id = "Left", Title = "Left", IsDefault = true)]
    public XhtmlDocument Left { get; set; }

    [Placeholder(Id = "Right", Title = "Right")]
    public XhtmlDocument Right { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*you can add template specific head elements here*@
</head>
<body>
    <div class="row-fluid">

        @Markup(Top)

    </div>
    <div class="row-fluid"> 
        <div class="container960">
            <div class="span8">
                @Markup(Left)
            </div>
            <div class="span4">
                @Markup(Right)

                <div>
                        
                        <div class="heading1">News &amp; Events</div>
                        <p>
                            <strong>5th / April / 2009</strong><br />
                            Integer mauris. Cras iaculis viverra dolorqw. Nulla suscipit.
                        </p>
                        <p>
                            <strong>6th / April / 2009</strong><br />
                            Cras iaculis viverra dolor. Nulla suscipit. Proin eu sapien ac sem fermentum sollicitudin.
                        </p>
                        <p>
                            <strong>7th / April / 2009</strong><br />
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                        many web sites still in their infancy.
                        </p>
                        <p><strong><a href="#">More News</a></strong></p>
                         <div class="heading1">Get in touch</div>
                       
                        <div class="bg"></div>
                        <p>
                            <strong>Address</strong>: 1458 Sample Road, Greenvalley, 12<br />
                            <strong>Telephone</strong>: +123-1234-5678<br />
                            <strong>FAX</strong>: +458-4578<br />
                            <strong>Others</strong>: +301 - 0125 - 01258<br />
                            <strong>E-mail</strong>: <a href="#">mail@yoursitename.com</a>
                        </p>
                        <div class="bg"></div>
                        <img src="/itme/images/twitter.jpg" alt="picture" width="81" height="68" />
                        <p>
                            <strong>Follow us on Twitter</strong><br />
                            Vestibulum posu eros vitae nunc<a href="#"> twitter.com/yourusername</a>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
