@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("f39dafee-ba69-4948-9034-75fee9366ddf");
        TemplateTitle = "[itme]9x3";
        Layout = "ItmeMaster.cshtml";
    }

    [Placeholder(Id = "Top", Title = "Top")]
    public XhtmlDocument Top { get; set; } 
    [Placeholder(Id = "Left", Title = "Left", IsDefault = true)]
    public XhtmlDocument Left { get; set; }

    [Placeholder(Id = "Right", Title = "Right")]
    public XhtmlDocument Right { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*you can add template specific head elements here*@
    <link href="~/Itme/stone/skin.css" rel="stylesheet" />
</head>
<body>
    
    <div class="row-fluid">  
         @Markup(Top)
		<div class="clr"></div>
	</div> 
    <div class="row-fluid"> 
        <div class="container960">
            <div class="span9">
                @Markup(Left)
            </div>
            <div class="span3"> 
                   <div class="heading1">Dịch vụ của <strong>ITME</strong></div>
                   <div style="margin-bottom:10px;">
				 <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Itme.ProjectVMenu">
  <f:param name="RootMenu" value="55944291-69de-46c6-b0ff-7907ac695ac4" />
</f:function>
</div>
                @Markup(Right)

                <div>
                        
                        <div class="heading1">Tin tức &amp; sự kiện</div>
                   
                       <f:function name="My.Content.NewsTop" xmlns:f="http://www.composite.net/ns/function/1.0">
			<f:param name="NewsDetailPage" value="1cb4fc4c-94bc-4f63-8ddb-4f5f0ab73567" />
		</f:function>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
