@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("8a473d3e-f9c6-4254-9d0f-27281e40f629");
        TemplateTitle = "[itme]services";
        Layout = "ItmeMaster.cshtml";
    }

    [Placeholder(Id = "Top", Title = "Top")]
    public XhtmlDocument Top { get; set; } 
    [Placeholder(Id = "Left", Title = "Left", IsDefault = true)]
    public XhtmlDocument Left { get; set; }

    [Placeholder(Id = "Right", Title = "Right")]
    public XhtmlDocument Right { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*you can add template specific head elements here*@
    <link href="~/Itme/stone/skin.css" rel="stylesheet" />
</head>
<body>
    
    <div class="row-fluid"> 
        
       	<div class="slider2">
			<div class="header_text2">
				<h2>@CurrentPageNode.Title</h2>
				<div class="clr"></div>
			</div>
		</div>
         @Markup(Top)
		<div class="clr"></div>
	</div> 
    <div class="row-fluid"> 
        <div class="container960">
            <div class="span9">
                @Markup(Left)
            </div>
            <div class="span3"> 
                   <div class="heading1">Dịch vụ của <strong>ITME</strong></div>
				 <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Itme.ProjectVMenu">
  <f:param name="RootMenu" value="55944291-69de-46c6-b0ff-7907ac695ac4" />
</f:function>
                @Markup(Right)

                <div>
                        
                        <div class="heading1">Tin tức &amp; sự kiện</div>
                   
                        <f:function name="My.Content.NewsTop" xmlns:f="http://www.composite.net/ns/function/1.0">
			<f:param name="NewsDetailPage" value="cb842acc-32ac-427f-a4c0-ae204b20a8b7" />
		</f:function>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
