@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("fb6ddceb-627d-4c57-b349-1a05f2e96f32");
        TemplateTitle = "[itme]home";
        Layout = "ItmeMaster.cshtml";
    }

    [Placeholder(Id = "Top", Title = "Top")]
    public XhtmlDocument Top { get; set; }
    [Placeholder(Id = "Top2", Title = "Top2")]
    public XhtmlDocument Top2 { get; set; }

    [Placeholder(Id = "Left", Title = "Left", IsDefault = true)]
    public XhtmlDocument Left { get; set; }

    [Placeholder(Id = "Right", Title = "Right")]
    public XhtmlDocument Right { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*you can add template specific head elements here*@
        
    <script src="/Itme/js/easySlider1.7.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#slider").easySlider({
                auto: true,
                continuous: true,
                hoverPause: false,
                numeric: true, speed: 1800, pause: 2000
            });
        });
    </script>
    <style type="text/css">
        .gallery
        {
            position:relative;
        }
        /* numeric controls */	

	ol#controls{
	  height: 28px;
    margin: 1em 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 300px;
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#006DCC;
		color:#fff;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#ccc;
		color:#555;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

        .gallery
        {
            width: 890px;
            height: 350px;
            margin: 0 auto;
        }

        #slider
        {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            #slider ul,
            #slider li
            {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            /* 
    define width and height of list item (slide)
    entire slider area will adjust according to the parameters provided here
*/
            #slider li
            {
                width: 890px;
                height: 350px;
                overflow: hidden;
            }

        p#controls
        {
            margin: 0;
            padding: 0;
            position: relative;
        }

        #prevBtn
        {
            display: block;
            margin: 0;
            overflow: hidden;
            width: 35px;
            height: 75px;
            position: absolute;
            left: -55px;
            top: -210px;
        }

        #nextBtn
        {
            display: block;
            margin: 0;
            overflow: hidden;
            width: 35px;
            height: 75px;
            position: absolute;
            left: 910px;
            top: -210px;
        }

        #prevBtn a
        {
            display: block;
            width: 35px;
            height: 75px;
            background: url(/itme/images/l_arrow.gif) no-repeat 0 0;
        }

        #nextBtn a
        {
            display: block;
            width: 35px;
            height: 75px;
            background: url(/itme/images/r_arrow.gif) no-repeat 0 0;
        }

        .container2
        {
            width: 960px;
            margin: 0px auto;
        }
        #LanguageSwitcher li
        {float:left;
        }
    </style>
</head>
<body>
    <div class="row-fluid">

        @Markup(Top)

    </div>
    <div class="row-fluid">
        <div class="container960">
            @Markup(Top2)
        </div>
    </div>
    <div class="row-fluid">
        <div class="container960">
            <div class="span8">
                @Markup(Left)
            </div>
            <div class="span4">
                @Markup(Right)

                <div>

                    <div class="heading1">Tin tức &amp; sự kiện</div>
                  <f:function name="My.Content.NewsTop" xmlns:f="http://www.composite.net/ns/function/1.0">
			<f:param name="NewsDetailPage" value="1cb4fc4c-94bc-4f63-8ddb-4f5f0ab73567" />
		</f:function>

                </div>
                <div>
                    <f:function name="Composite.Community.Facebook.LikeBox" xmlns:f="http://www.composite.net/ns/function/1.0">
					<f:param name="URL" value="https://www.facebook.com/itsthehappypage" />
				</f:function>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
