@inherits RazorPageTemplate
@functions {
	public override void Configure()
	{
		TemplateId = new Guid("9f096519-d21c-435e-b334-62224fde2ab3");
		TemplateTitle = "[interior] 2 columns, content and aside";
		 Layout = "InteriorMaster.cshtml";
	}

	[Placeholder(Id = "herounit", Title="Heading (hero unit)")]
    public XhtmlDocument HeroUnit { get; set; }

	[Placeholder(Id = "Left", Title="Left", IsDefault = true)]
    public XhtmlDocument Left { get; set; }

    [Placeholder(Id = "Right", Title="Right")]
    public XhtmlDocument Right { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		@*you can add template specific head elements here*@
	</head>
	<body>
				  <div class="row-fluid">
                <div class="pane-container1">
                   @Markup(HeroUnit)
                </div>
            </div>
		   <div class="row-fluid">
                <div class="pane-container">
                    <div class="span6">
                         @Markup(Left)
                    </div>
                    <div class="span6">
                        @Markup(Right)			
                    </div>
                </div>
            </div>
	</body>
</html>
